<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Admin Panel</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/jquery.mobile-1.0a4.1.compressed.css" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="/static/jquery.mobile-1.0a4.1-fix.compressed.js"></script>

</head>
<body class="index">

<div data-role="page" id="home" >

	<div data-role="header">
	<h2>Admin Panel</h2>
	</div><!-- /header -->

<div data-role="content">
	<ul data-role="listview" data-theme="c"> 
		<li data-theme="e">
			<h3 style="white-space:normal">reset all votes in database</h3>
			<form action="/admin/resVotes" method="post" data-ajax="false">
				<input type="submit" value="reset" data-role="button" data-icon="minus" data-theme="g" />
			</form>
		</li>
		<li data-theme="e">
			<h3 style="white-space:normal">reset last time Played for all songs</h3>
			<form action="/admin/resLastPlay" method="post" data-ajax="false">
				<input type="submit" value="reset" data-role="button" data-icon="minus" data-theme="g" />
			</form>
		</li>

	   
	</ul>

 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
