<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>vote your song!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/jquery.mobile-1.0a4.1.compressed.css" />
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>

</head>
<body class="index">

<div data-role="page" id="home" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
	<a href="/artists/" rel="external" data-icon="back">back</a>
	<h2>$artist</h2>
	</div><!-- /header -->

<div data-role="content">

<ul data-role="listview" data-theme="d">

	<li data-role="list-divider">choose album</li>	
	#for $album in $alben
			<li>
				<a href="/tracks/?artist=$artist&album=$album.name" >
				<img src="../$album.coverpath" alt="albumart" class="ui-li-thumb" >
				<h3 class="ui-li-heading">$album.name</h3>
				<p class="ui-li-desc">$album.year</p>
				</a>
			</li>
	#end for

</ul>
	
 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
