<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>vote your song!</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/jquery.mobile-1.0b1.css" />
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="/static/jquery.mobile-1.0b1.min.js"></script>

</head>
<body class="index">

<div data-role="page" id="home" >

	<div data-role="header" data-theme="b">
	<a href="/" rel="external" data-icon="home">home</a>
	<h2>pick artist</h2>
	</div><!-- /header -->

<div data-role="content">

<ul data-role="listview" data-theme="d" data-filter="false">
		#for $letter in $artists
			<div data-role="collapsible" data-collapsed="true">
			<h3>$letter[0]</h3>
				<p>
				#for $artist in $letter[1]
					<a href="/artists/?artist=$artist" rel="external">$artist</a> <br>
				#end for
				</p>
			</div>
		#end for
</ul>
	
 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
