<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>vote your song!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/jquery.mobile-1.0b1.css" />
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="/static/jquery.mobile-1.0b1.min.js"></script>

<script type="text/javascript">
#for $letter in $artists
	var artists_$letter[0] =[#for $artist in $letter[1]
							"$artist",
							#end for
							""];
#end for

function load_list(list_array) {
	var newList = '<ul data-role="listview" data-theme="d" id="mylist" style="white-space:normal">' ;
	newList += '<li><a href="/artists/" rel="external">...</a></li>';
	for (var i = 0; i < list_array.length-1; i++) {
		newList += '<li><a href="/artists/?artist=' +list_array[i] +'" rel="external">'+list_array[i] +'</a></li>';
		}
	newList += '</ul>' ;
	\$('#contentpage').html(newList);
	\$("#mylist").listview();
	}
</script>


</head>
<body class="index">

<div data-role="page" id="home" >

	<div data-role="header" data-theme="b">
		<a href="/" rel="external" data-icon="home" id=headerbutton>home</a>
		<h2>pick artist</h2>
	</div><!-- /header -->

<div data-role="content" id="contentpage">

<!-- counting column number to put a, b or c to block class -->
#set $counter=0

		<div class="ui-grid-b">
		#for $letter in $artists
			<div class="ui-block-#slurp
			#if $counter == 0
a"> 
			#set $counter += 1
			#else if $counter == 1
b"> 
			#set $counter += 1
			#else if $counter == 2
c"> 
			#set $counter = 0
			#end if
				<div data-role="button" data-theme="d" onclick="load_list(artists_$letter[0])">
					<h2>$letter[0]</h2>
				</div>
			</div>
		#end for
		</div>
	
 </div><!-- /content end-->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer end-->

</div><!-- /page end-->

</body>

</html>
