<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>vote your song!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/jquery.mobile-1.0b1.css" />
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="/static/jquery.mobile-1.0b1.min.js"></script>

<script type="text/javascript">
#for $letter in $artists
	var artists_$letter[0] =[#for $artist in $letter[1]
							"$artist",
							#end for
							""];
#end for


function load_list(list, list_array) {
	\$('#'+list +' > li').remove();
	var newList = "" ;
	for (var i = 0; i < list_array.length-1; i++) {
		newList += '<li><a href="/artists/?artist=' +list_array[i] +'" rel="external">'+list_array[i] +'</a></li>';
		}
	\$('#'+list).html(newList).listview('refresh');
	}


</script>


</head>
<body class="index">

<div data-role="page" id="home" >

	<div data-role="header" data-theme="b">
	<a href="/" rel="external" data-icon="home">home</a>
	<h2>pick artist</h2>
	</div><!-- /header -->

<div data-role="content">

		#for $letter in $artists
			<div data-role="button" data-theme="d" onclick="load_list('artistslist_$letter[0]', artists_$letter[0])">
			<h3>$letter[0]</h3>
				<ul data-role="listview" data-theme="d" id="artistslist_$letter[0]">
				</ul>
			</div>
		#end for

	
 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
