<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>vote your song!</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/jquery.mobile-1.0b1.css" />
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>

</head>
<body class="index">

<div data-role="page" id="home">

	<div data-role="header">
	<h3>WebDJ</h3>
	</div><!-- /header -->

<div data-role="content">
	<ul data-role="listview" data-theme="c"> 
		<li data-role="list-divider">Now Playing:</li>
		<li data-theme="e">
			<img src="$current.albumart" alt="AlbumArt"> 
			<h3 class="ui-li-heading" style="white-space:normal">$current.title</h3>
			<p class="ui-li-heading"> <b>$current.artist</b> </p> 
			<p class="ui-li-heading">$current.album</p>
			<p class="ui-li-count" align="center" >time:<br>$current.runtime</p>
		</li>

		<li data-theme="e">Top 10 Songs
			<ol data-role="listview" data-theme="c">
				#for $item in $charts
				  <li>
					<img src="$item.albumart" alt="albumart" class="ui-li-thumb">
					<h2 class="ui-li-heading"> <b>$item.artist</b> <br> <i>$item.song</i> </h2>
					<span class="ui-li-count"> <h2> $item.votes </h2> </span>
						<ul data-role="listview" data-theme="c">
								<li>
								<img src="$item.albumart" alt="albumart" class="ui-li-thumb">
								<h2 class="ui-li-heading"> <b>$item.artist</b> <br> <i>$item.song</i> </h2>
								<span class="ui-li-count"> <h2> $item.votes </h2> </span>
								</li>
								<div data-role="controlgroup" data-theme="b">
									<form action="/liked/$item.id" method="post" data-ajax="false">
										<input type="submit" value="like" data-role="button" data-icon="plus" data-theme="f"/>
									</form>
									<form action="/hated/$item.id" method="post" data-ajax="false">
										<input type="submit" value="hate" data-role="button" data-icon="minus" data-theme="g"/>
									</form>
									<a href="/" rel="external" data-role="button" data-icon="delete">Cancel</a>
								
							</div>
						</ul>
				  </li>
				#end for
			</ol>
		</li>
	
	<li data-theme="b">
		<a href="/artists/" rel="external" class="ui-link-inherit">request a song</a
	</li>
	
	<li data-theme="a">
		<a href="/history/" rel="external" class="ui-link-inherit">playlist history</a>
	</li>


 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
