<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>admin login</title>
	<link rel="stylesheet" href="/static/jquery.mobile-1.0a4.1.compressed.css" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="/static/jquery.mobile-1.0a4.1-fix.compressed.js"></script>

</head>
<body class="index">

<div data-role="page" id="home" >
 
	 <div data-role="header">
	 <h2>Admin Interface</h2>
	 </div><!-- /header -->

<div data-role="content">
<FORM action=/login method=POST>
    <table id="login">
            <td>Password: </td>
            <td><input type="password" name=passwd value=""></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=submit value=LOGIN></td>
        </tr>
    </table>
</form>
 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
