<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>vote your song!</title>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="4;url=/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/static/jquery.mobile-1.0b2.css" />
	<script src="/static/jquery-1.6.2.min.js"></script>
	<script src="/static/jquery.mobile-1.0b2.min.js"></script>

</head>
<body class="index">

<div data-role="page" id="home" >

	<div data-role="header">
	<h3>Web<font color="#7AC5CD">DJ</font></h3>
	</div><!-- /header -->

<div data-role="content">
    <ul data-role="listview" data-theme="c"> 
	    <li data-theme="e"><h3 style="white-space:normal">
	    	This song was already played in the last <font color="#0000FF">$minutes</font> minutes. 
	    	<br> You can vote it again in <font color="#FF0000">$blockover</font> minutes.</h3>
	    </li>

	   
	</ul>

 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
