<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>vote your song!</title>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="4;url=/">
	<link rel="stylesheet" href="/static/jquery.mobile-1.0a4.1.compressed.css" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="/static/jquery.mobile-1.0a4.1-fix.compressed.js"></script>

</head>
<body class="index">

<div data-role="page" id="home" >
 
	 <div data-role="header">
	 <h2>WebDJ</h2>
	 </div><!-- /header -->

<div data-role="content">
    <ul data-role="listview" data-theme="c"> 
	    <li data-theme="e"><h3 style="white-space:normal">Your vote was counted.<br>Thank you for voting!</h3>
	    </li>

	   
	</ul>

 </div><!-- /content -->

 <div data-role="footer" data-theme="d">
 <h4> &copy 2011 </h4>
 </div><!-- /footer -->

</div><!-- /page -->

</body>

</html>
